.cli
    .panel.show(onclick='focus()')
        .history
            span.buffer
            span.loader.hide_element
        .line
            span.prompt
            input.command(type='text', autofocus='autofocus')
