.cli-panel.show(onmouseup='cli.mouseUp()')
    .cli-history
        span.cli-buffer
    .cli-loader.hide_element
    .cli-line
        span.cli-prompt
        input.cli-command(type='text', autofocus='autofocus')
