.cli
    .cli-panel.show(onclick='focus()')
        .cli-history
            span.cli-buffer
            span.cli-loader.hide_element
        .cli-line
            span.cli-prompt
            input.cli-command(type='text', autofocus='autofocus')
