body #cli.cli.cli-panel {
	z-index: 65535;
	top: 0;
	left: 0;
	max-height: 64%;
	height: 0;
	position: absolute;
	right: 0;
	color: white;
	font: 16px monospace;
	background: rgba(0, 0, 0, 0.8);
	line-height: 20px;
	transition: height 0.64s linear;

	&.show {
		height: 64%;
	}

	.cli-history {
		overflow: auto;
		white-space: pre-wrap;
		position: absolute;
		bottom: 20px;
		width: 100%;

		.cli-prompt {
			display: inline;
			width: auto;
		}
	}

	.cli-line {
		position: absolute;
		bottom: 0;
		height: 20px;
		width: 100%;
		display: table;
	}

	.cli-prompt {
		display: table-cell;
		width: 1px;
	}

	input[type=text].cli-command {
		background: none;
		border: 0;
		color: white;
		outline: none;
		font: 16px monospace;
		padding-left: 9px;
		width: 100%;
		box-sizing: border-box;
		display: table-cell;
	}

	.cli-loader {
		position: absolute;
		bottom: 0;
		height: 20px;
	}

	.hide_element {
		display: none;
	}
}